.search {
    display: flex;
    align-items: center;
    padding-right: 5px;
    justify-content: flex-end;
    
    
    >:not(:last-child) {
        margin-right: 5px;
    }
    
    input {
        border: none;
        width: 250px;
        border-bottom: 1px solid $primary;
    }
    .search__button {
        
    }
}